body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  user-select: none;
}

hr {
  width: 500px;
}

#errors {
  color: rgb(255, 99, 43);
  background-color: #e2e2e2;
  width: 450px;
  height: 40px;
  font-size: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

#board {
  width: 450px;
  height: 450px;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  width: 47px;
  height: 48px;
  border: 1px solid lightgrey;

  /* Text */
  font-size: 20px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile:hover {
  cursor: pointer;
  background-color: lightgrey;
}

#digits {
  width: 450px;
  height: 50px;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.number {
  width: 44px;
  height: 44px;
  border: 1px solid #000;
  margin: 2px;

  /* Text */
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.number-selected {
  background-color: grey;
  transition: 0.3s;
}

.tile-start {
  background-color: whitesmoke;
}

.tile-start:hover {
  background-color: whitesmoke;
}

.horizontal-line {
  border-bottom: 2px solid black;
}

.vertical-line {
  border-right: 2px solid black;
}

.wrong-number {
  color: red;
}

.showColumn {
  background-color: #f0f0;
}
