body {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: black;
  text-align: center;
  user-select: none;
}

a {
  text-decoration: none;
  color: black;
}

hr {
  width: 700px;
}

.container {
  display: flex;
  width: 700px;
  height: 30px;

  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#difficulty {
  display: flex;
}

#difficulty button {
  background: none;
  border: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  padding: 7px 14px;
  border-radius: 7px;
  margin: 0 25px;
  color: #000;
}

#difficulty button:hover {
  background-color: lightgrey;
  transition: 0.3s;
  cursor: pointer;
}

#errors {
  color: rgb(255, 64, 0);
  font-size: 30px;
  margin: 10px 0;
}

#board {
  width: 630px;
  height: 630px;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: inset 0 0, 0 0 1em #000;
}

.tile {
  width: 68px;
  height: 68px;
  border: 1px solid lightgrey;

  /* Text */
  font-size: 30px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile:hover {
  cursor: pointer;
  background-color: lightgrey;
}

#digits {
  width: 600px;
  height: 50px;

  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.number {
  width: 58px;
  height: 58px;
  border: 2px solid #000;
  border-radius: 5px;
  margin: 2px;

  /* Text */
  font-size: 25px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.number-selected {
  background-color: grey;
  transition: 0.3s;
}

.tile-start {
  background-color: whitesmoke;
}

.tile-start:hover {
  background-color: whitesmoke;
}

.horizontal-line {
  border-bottom: 1px solid black;
}

.vertical-line {
  border-right: 1px solid black;
}

.wrong-number {
  color: red;
}

.showColumn {
  background-color: #f0f0;
}

/* Responsividade */

@media (max-width: 600px) {
  body {
    height: 100%;
    font-size: 14px;
    margin: 0;
  }

  hr {
    width: 100%;
  }

  .container {
    width: 100%;
  }

  #board {
    width: 360px;
    height: 360px;
    margin: 0 auto;
  }

  .tile {
    width: 38px;
    height: 38px;
    font-size: 20px;
  }

  #digits {
    margin: 20px auto;
    width: 100%;
  }

  #difficulty {
    margin: 0 15px;
  }

  .number {
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: 1px solid black;
  }
}
